root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[{*.java, *.kt}]
ij_java_class_count_to_use_import_on_demand = 5
ij_java_names_count_to_use_import_on_demand = 3
ij_continuation_indent_size = 4
max_line_length = 120

[{.babelrc, .stylelintrc, .eslintrc, jest.config, *.bowerrc, *.jsb3, *.jsb2, *.json}]
indent_size = 2

[{*.yml, *.yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
