# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/melosys-kodeverk
    docker:
      # specify the version you desire here
      - image: circleci/node:latest

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    steps:
      - checkout
      - run:
          name: Check versions and env
          command: |
              yarn --version
              node --version
              env
# Yarn
#      - restore_cache:
#        key: yarn-cache-{{ checksum "yarn.lock" }}
#       - run: yarn install && yarn build
#       - save_cache:
#           key: yarn-cache-{{ checksum "yarn.lock" }}
#            paths:
#              - node_modules
#
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test
      # run build
      - run: yarn build
      - run:
        command: |
          cd dist
          pwd
          cat semver.txt
